<form name="form" novalidate>
  <label>Please enter your name</label>
  <input type="text" name="userName" ng-model="userName">
  <div ng-show="userName">
    <h2>Hi {{userName}}! Please tell us how you got to work this morning</h2>

    <div ng-repeat="option in moodOptions">
      <label>
        <input type="radio" ng-model="userMood" ng-checked="$first">
        {{option.name}}
      </label>
    </div>

    <div id="footer">
      <button id="submit" ng-click="onSubmit()">Submit</button>
    </div>
  </div>
</form>